* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nivea";
  src: url(fonts/Nivea-Bold.woff) format('woff');
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.ttf);
}

body {
  background-color: #00136f;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .03125rem;
}

picture {
  position: absolute;
  top: 0;
  z-index: -1;
}

#logo-careshop {
  max-width: 185px;
}

.banner-item-image {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 0 97px;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;

  position: absolute;
  top: -48px;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper-about {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: .875rem;
  line-height: 1.5rem;
}

.wrapper-about h1 {
  font-family: Nivea, sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  margin: 15px 0 9px;
  font-weight: 700;
}

.wrapper-login {
  width: 351px;
  min-height: 614px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 40px;
  margin: 70px 0;
}

.wrapper-login h2 {
  font-family: Nivea,sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #00136f;
  margin: 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
}