* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nivea";
  src: url(fonts/Nivea-Bold.woff) format('woff');
}

body {
  background-color: #00136f;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .03125rem;
}

picture {
  position: absolute;
  top: 0;
  z-index: -1;
}

#logo-careshop {
  max-width: 185px;
}

.banner-item-image {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 0 97px;
  max-width: 720px;
  outline: 2px solid  red;
  margin: 0 auto;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper-about {
  outline: 2px solid yellow;
}

.wrapper-about h1 {
  font-family: Nivea, sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #fff;
  margin: 15px 0 9px;
  font-weight: 700;
}

.wrapper-login {
  max-width: 351px;
  min-height: 510px;
  background-color: #fff;
}
